<div class="jumbotron bg-transparent">

    <mat-card>
        <mat-card-title>Language pair for training</mat-card-title>
        <mat-card-content>
            <mat-radio-group [(ngModel)]="favoriteLangCouple">
                <mat-radio-button *ngFor="let langCouple of langCouples" [value]="langCouple">
                    {{langCouple}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Words per training loop</mat-card-title>
        <mat-card-content>
            <mat-slider [thumbLabel]="true" [(ngModel)]="wordsPerLoop" min="1" max="15" step="1"></mat-slider>
            {{ wpLoop }}
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Words for answer options</mat-card-title>
        <mat-card-content>
            <mat-slider [thumbLabel]="true" [(ngModel)]="fakeAnswers" min="1" max="15" step="1"></mat-slider>
            {{ fAnswers }}
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Start by vocabulary position (by frequency in percents)</mat-card-title>
        <mat-card-content>
            <mat-slider [thumbLabel]="true" [(ngModel)]="freqStartPosition" min="0" max="100" step="10" tickInterval="10">
            </mat-slider>
            {{ fStartPosition }}
        </mat-card-content>
    </mat-card>
    <mat-card>
            <mat-card-title>Show translation before training</mat-card-title>
            <mat-card-content>
                <mat-slide-toggle [(ngModel)]="showTranslation"></mat-slide-toggle>
                {{ sTranslation ? 'yes' : 'no' }}
            </mat-card-content>
        </mat-card>    
    <mat-card>
    <mat-card-title></mat-card-title>
        <mat-card-content>
            <button mat-raised-button [disabled]="btnSaveDisabled" (click)="save()">Save</button>
        </mat-card-content>
    </mat-card>
</div>